<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="delegationRepository" class="se.vgregion.delegation.persistence.jpa.JpaDelegationRepository" />

  <bean id="delegationExpieryAlertJob" class="se.vgregion.delegation.DelegationExpieryAlertJobImpl" >
    <property name="days" value="1"/>
    <property name="delegationRepository" ref="delegationRepository"/>
  </bean>

<!-- org.springframework.scheduling.quartz.JobDetailBean -->

  <bean name="delegationAlertJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="delegationExpieryAlertJob" />
    <property name="targetMethod" value="scanRepoAndSendMails" />
  </bean>

  <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="delegationAlertJob" />
    <property name="cronExpression" value="0/5 * * * * ?" />
    <!-- "0 2 * * *" run every day at 03:00 -->
  </bean>

  <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="jobDetails">
      <list>
        <ref bean="delegationAlertJob" />
      </list>
    </property>
    <property name="triggers">
      <list>
        <ref bean="cronTrigger" />
      </list>
    </property>
  </bean>

</beans>