<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <import resource="classpath:settings/serverConf.xml" />

  <bean id="delegationRepository" class="se.vgregion.delegation.persistence.jpa.JpaDelegationRepository" />

  <bean id="delegationExpieryAlertJob1" class="se.vgregion.delegation.DelegationExpieryAlertJobImpl">
    <property name="daysBeforeStart" value="30" />
    <property name="daysBeforeEnd" value="15" />
    <property name="delegationRepository" ref="delegationRepository" />
    <property name="emailToSendKey" value="1" />
    <property name="contextPath" value="mail-spring-test.xml" />
  </bean>

  <bean id="delegationExpieryAlertJob2" class="se.vgregion.delegation.DelegationExpieryAlertJobImpl">
    <property name="daysBeforeStart" value="14" />
    <property name="daysBeforeEnd" value="0" />
    <property name="delegationRepository" ref="delegationRepository" />
    <property name="emailToSendKey" value="2" />
    <property name="contextPath" value="mail-spring-test.xml" />
  </bean>

  <!-- org.springframework.scheduling.quartz.JobDetailBean -->

  <bean name="delegationAlertJob1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="delegationExpieryAlertJob1" />
    <property name="targetMethod" value="scanRepoAndSendMails" />
  </bean>
  <bean name="delegationAlertJob2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="delegationExpieryAlertJob2" />
    <property name="targetMethod" value="scanRepoAndSendMails" />
  </bean>

  <bean id="cronTrigger1" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="delegationAlertJob1" />
    <property name="cronExpression" value="0/5 * * * * ?" />
    <!-- "0 2 * * *" run every day at 03:00 -->
  </bean>
  <bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerBean">
    <property name="jobDetail" ref="delegationAlertJob2" />
    <property name="cronExpression" value="0/5 * * * * ?" />
    <!-- "0 2 * * *" run every day at 03:00 -->
  </bean>

  <bean name="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="jobDetails">
      <list>
        <ref bean="delegationAlertJob1" />
        <ref bean="delegationAlertJob2" />
      </list>
    </property>
    <property name="triggers">
      <list>
        <ref bean="cronTrigger1" />
        <ref bean="cronTrigger2" />
      </list>
    </property>
  </bean>

</beans>